[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jieba = ">=0.42.1"
jiwer = ">=2.5.0"
pandas = ">=1.3.0"
python-levenshtein = ">=0.12.2"
thulac = ">=0.2.0"
hanlp = ">=2.1.0"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
